@Master['master.html']

@Section['Header']
<link rel="stylesheet" href="Content/rickshaw.min.css">
<script src="/Content/d3.min.js"></script>
<script src="/Content/d3.layout.min.js"></script>
<script src="/Content/rickshaw.min.js"></script>
<script>
	if (!Array.prototype.find) {
		Array.prototype.find = function (predicate) {
			if (this == null) {
				throw new TypeError('Array.prototype.find called on null or undefined');
			}
			if (typeof predicate !== 'function') {
				throw new TypeError('predicate must be a function');
			}
			var list = Object(this);
			var length = list.length >>> 0;
			var thisArg = arguments[1];
			var value;

			for (var i = 0; i < length; i++) {
				value = list[i];
				if (predicate.call(thisArg, value, i, list)) {
					return value;
				}
			}
			return undefined;
		};
	}
</script>
<style>
	.chart_container {
		position: relative;
		font-family: Arial, Helvetica, sans-serif;
	}

	.chart {
		position: relative;
		left: 40px;
	}

	.y_axis {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 40px;
	}

	.chart_title {
		width: 340px;
	}

	.chart_title span {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.server_container > div {
		margin-top: 1em;
	}

	.graph_container {
		display: table;
	}

	.metrics {
		display: table-cell;
		padding-left: 1.5em;
	}

	.warning {
		color: orange;
	}

	.error {
		color: red;
	}

	.ok {
		color: green;
	}

	.notAvailable {
		color: grey;
		opacity: 0.4;
	}
</style>
@EndSection

@Section['Content']
	@Each
		<h4>@Current.Name</h4>
		<div id="@Current.Name" class="server_container">
			<script type="text/javascript">
				function createGraph(graphContainer, series) {
					var element = graphContainer.find(".chart").get(0);
					var yAxisElement = graphContainer.find(".y_axis").get(0);
					var graph = new Rickshaw.Graph({
						element: element,
						width: 300,
						height: 150,
						renderer: "scatterplot",
						series: series,
						padding: { top: 0.1, left: 0.1, right: 0.1, bottom: 0.1 }
					});
					new Rickshaw.Graph.HoverDetail({ graph: graph });
					new Rickshaw.Graph.Axis.Time({ graph: graph });
					new Rickshaw.Graph.Axis.Y({
						graph: graph,
						orientation: "left",
						tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
						element: yAxisElement
					});

					return graph;
				}

				function createGraphContainer(element, graphName, index) {
					element.append("<div class='" + index + " graph_container'><div class='chart_title'><span>" + graphName + "</span></div><div class='chart_container'><div class='y_axis'></div><div class='chart'></div></div><div class='metrics'></div></div>");
					return element.find("div." + index);
				}

				function createMetricContainer(graphContainer) {
					var metricDiv = graphContainer.find(".metrics");
					metricDiv.append("<p>Average: <span class='average'></span></p><p>Minimum: <span class='minimum'></span></p><p>Maximum: <span class='maximum'></span></p><p>Variance: <span class='variance'></span></p>");
					return metricDiv;
				}

				function initData(metric, metricDiv, series) {
					var palette = new Rickshaw.Color.Palette();
					var data = [];
					series.push({ name: "Average", data: data, color: palette.color() });
					var measurements = metric["measurements"].reverse();
					var maxEndTime;
					var currentTime = new Date().getTime();
					for (var i = 0; i < measurements.length; i++) {
						var startTime = new Date(measurements[i]["startTime"]).getTime() / 1000;
						var endTime = new Date(measurements[i]["endTime"]).getTime();
						if (maxEndTime === undefined || endTime > maxEndTime) {
							maxEndTime = endTime;
						}

						var avg = measurements[i]["average"];
						data.push({ x: startTime, y: avg });

						if (currentTime < endTime) {
							var min = measurements[i]["minimum"];
							var max = measurements[i]["maximum"];
							var variance = measurements[i]["variance"];
							updateMetrics(metricDiv, { average: avg, minimum: min, maximum: max, variance: variance });
						}
					}

					if (maxEndTime === undefined || maxEndTime < currentTime) {
						updateMetrics(metricDiv, { average: NaN, minimum: NaN, maximum: NaN, variance: NaN });
					}
				}

				function updateMetrics(metricDiv, metrics) {
					metricDiv.find(".average").text(metrics.average).removeAttr("class").addClass(isNaN(metrics.average) ? "notAvailable" : "");
					metricDiv.find(".minimum").text(metrics.minimum).removeAttr("class").addClass(isNaN(metrics.minimum) ? "notAvailable" : "");
					metricDiv.find(".maximum").text(metrics.maximum).removeAttr("class").addClass(isNaN(metrics.maximum) ? "notAvailable" : "");
					metricDiv.find(".variance").text(metrics.variance).removeAttr("class").addClass(isNaN(metrics.variance) ? "notAvailable" : "");
				}

				var id = "@Current.Name";
				var graphs = [];
				var mainDiv = $("#" + id);

				$.ajax({
						url: "/instance/@Current.Name"
					})
					.done(function (data) {
						var metrics = data;

						var index = 0;
						for (var name in metrics) {
							if (!metrics.hasOwnProperty(name)) continue;
							var metric = metrics[name];

							var graphContainer = createGraphContainer(mainDiv, name, index);
							var metricDiv = createMetricContainer(graphContainer);
							var series = [];
							var graph = createGraph(graphContainer, series);
							graphs.push({ name: name, graph: graph, metricDiv: metricDiv });
							initData(metric, metricDiv, series);
							graph.render();
							index++;
						}

						var refreshRate = "@Current.RefreshRate";
						setTimeout(function() {
							var graph = graphs.find(function (elem) { return elem.name === "Parsing file"; });
							if (graph === undefined) return;
							updateMetrics(graph.metricDiv, { average: 100, minimum: 50, maximum: 150, variance: 0.1 });
						}, refreshRate * 1000);
					}).fail(function(jqXHR, textStatus, errorThrown) {
						console.log(textStatus);
					});
			</script>
		</div>
	@EndEach
@EndSection