type project
owners
    Telenor MVNO
authors 
    Telenor MVNO
projectUrl
    http://github.com/mvno/Okanshi.Dashboard
iconUrl
    https://raw.githubusercontent.com/mvno/Okanshi.Dashboard/master/docs/files/img/logo.png
licenseUrl
    http://github.com/mvno/Okanshi.Dashboard/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    okanshi
summary
    Dashboard for visualizing Okanshi metrics
description
    Description not set


